.container {
    width: 100%;
}


#originalImg {
  width: 100%;
padding: 10px;
}

.scroll-title {
  clear: right;
}




.caja {
/*left: 70px;
//
//position: absolute;*/
border: 1px solid #2e2e2e;
display: none;
}
	



  .image-container {
    width: 100%;
    background-color: #bbb;
    position: relative;
  }

  .image-container img{
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
  }





/*
	.izq {
	  //opacity: 0.7;
  //background: wheat;
  -webkit-transform: matrix(1, 0, 0.6, 1,  100, 0);
      -o-transform: matrix(1, 0, 0.6, 1,  100, 0);
  //       transform: matrix(1, 0,-0.45, 1,  100, 0);
}


.der {

  //opacity: 0.5;
 
 // background: blue;
  -webkit-transform: matrix(1, 0, 0.6, 1,  100, 0);
      -o-transform: matrix(1, 0, 0.6, 1,  100, 0);
 //        transform: matrix(1, 0, 0.45, 1,  100, 0);
}
*/

#canvasImg, #canvasImg2{
background-color: #fff;
border: 12px solid #2e2e2e;
border-radius: 8px;
/*display: none;
max-width: 900px;*/




max-width: 100%;
height: auto;

}

.centrado {
text-align: center;
position: realtive;
}




