html,
body {
    height: 100%;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    min-height: 60%;
    padding: 0 40px;
}

.main,
.main>div,
.main .panel {
    height: inherit;
}

#originalImg {
    width: 100%;
    padding-bottom: 20px;
}

nav {
    background: url(images/bg.png);
}

.caja {
    border: 1px solid #2e2e2e;
    display: none;
}

.image-container {
    width: 100%;
}

.slidecontainer {
    padding: 0 10px;

    input {
        height: 35px;
    }
}

#canvasImg,
#canvasImg2 {
    background-color: #fff;
    max-width: 100%;
    height: auto;
}

.centrado {
    text-align: center;
    position: realtive;
}

.hero {
    background: #fff url(../images/bg.png);
    background-size: cover;
}

.hero-body {
    h1 {
        text-shadow: 4px 4px 3px black;
    }
}

#form1 {
    padding-bottom: 20px;
}

.columns {
    padding-top: 40px;
}

.column {
    display: flex;
}

.card {
    flex-basis: 100%;
}

.option {
    display: flex;

    p {
        width: 25%;
        padding-top: 7px;
        line-height: 16px;
    }
}

#canvasinfo {
    text-align: center;

    small {
        display: block;
        color: #444;
        font-size: 70%;
    }
}

.hidden {
    display: none;
}